/* Put your CSS here */
html, body {
    margin: 20px;
}

.splitViewVertical {
  width: 1000px;
  height: 500px;
}

.splitViewHorizontal {
  width: 1000px;
  height: 700px;
}

.splitViewComposite {
  width: 1024px;
  height: 700px;
}

.left {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  min-width: 100px;
  padding: 10px;
  margin-left: 0px;
  overflow: hidden;
}

.right {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  min-width: 100px;
  overflow: hidden;
}

.top {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  overflow: hidden;
}

.bottom {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  min-height: 100px;
  overflow: hidden;
}

.compositeRight {
  min-width: 100px;
}

.compositeTop {
  min-height: 100px;
}

.intro {
  margin-top: 10px;
  margin-bottom: 10px;
}