/* Put your CSS here */
html, body {
    margin: 20px;
}

pre {
  border: none;
  background-color: inherit;
}

.splitViewVertical {
  width: 1000px;
  height: 500px;
  position: relative;
}

.splitViewHorizontal {
  width: 1000px;
  height: 700px;
  position: relative;
}

.child {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
}

.vertical {
  min-width: 100px;  
}

.horizontal {
  min-height: 100px;
}

.compositeRight {
  min-width: 206px;
}

.compositeBottom {
  min-height: 206px;
}

.intro {
  margin-top: 10px;
  margin-bottom: 10px;
}