@import "ember-paper";

/* Put your CSS here */
html, body {
    margin: 20px;
}

pre {
  border: none;
  background-color: inherit;
}

.tab-section {
  height: 1200px;
}

.content {
  height: 1000px;
}

.toolbar-item {
  padding-left: 20px;
}

.demo-tab {
  padding: 25px;
  text-align: center;
}

.splitViewVertical {
  width: 1000px;
  height: 500px;
  position: relative;
}

.splitViewHorizontal {
  width: 1000px;
  height: 700px;
  position: relative;
}

.child {
  padding: 10px;
  overflow: hidden;
  min-width: 100px;
  min-height: 100px;
}

.border {
  border: solid;
  border-width: 1px;
  border-radius: 10px;
}

.composite {
  min-width: 220px;
  min-height: 220px;
}

.intro {
  margin-top: 10px;
  margin-bottom: 10px;
}
