<h2 id='title'>Ember SplitView Demo</h2>
<div class="intro">
  Drag the sash between the views (boxes).
</div>

{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    {{#link-to "vertical" class="toolbar-item"}}Vertical{{/link-to}}
    {{#link-to "horizontal" class="toolbar-item"}}Horizontal{{/link-to}}
    {{#link-to "verticalComposite" class="toolbar-item"}}Vertical Composite{{/link-to}}
    {{#link-to "horizontalComposite" class="toolbar-item"}}Horizontal Composite{{/link-to}}
    {{#link-to "composite" class="toolbar-item"}}Composite{{/link-to}}
  </div>
{{/paper-toolbar}}

{{#paper-content flex-layout="column" flex=true}}
  {{outlet}}
{{/paper-content}}
