<div class="demo-tab">
  {{#split-view isVertical=true class="splitViewVertical"}}
    {{#split-child class="border"}}
      {{partial "ring"}}
    {{/split-child}}
    {{split-sash}}
    {{#split-child class="border"}}
      {{partial "yoda"}}
    {{/split-child}}
  {{/split-view}}
</div>
